@keyframes burger-line-top_start {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-7px);
  }
}

@keyframes burger-line-bottom_start {
  0% {
    transform: translateY(0) rotate(45deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(7px);
  }
}

@keyframes burger-line-top {
  0% {
    transform: translateY(-7px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes burger-line-bottom {
  0% {
    transform: translateY(7px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0) rotate(45deg);
  }
}

@keyframes from-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
