@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './animations.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  color: #232323;
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
    border-radius: 60px;
  }
}

nav ul {
  max-height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
    border-radius: 60px;
  }
}

.custom-container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);

  @media screen and (max-width: 768px) {
    width: calc(100% - 30px);
  }

  @media screen and (max-width: 540px) {
    width: calc(100% - 20px);
  }
}

.burger-button {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 26px;

  span {
    display: block;
    position: absolute;
    top: 11px;
    width: 26px;
    height: 3px;
    border-radius: 60px;
    background: #3c3c3c;
    transition: background-color .2s ease-in-out, transform .3s ease-in-out;

    &:first-child {
      transform: translateY(-8px);
      animation: burger-line-top_start .4s ease-in-out;
    }

    &:last-child {
      transform: translateY(8px);
      animation: burger-line-bottom_start .4s ease-in-out;
    }
  }

  &.active {
    span {
      &:first-child {
        transform: translateY(0) rotate(-45deg);
        animation: burger-line-top .4s ease-in-out;
      }
      &:nth-child(2) {
        background-color: transparent;
      }
      &:last-child {
        transform: translateY(0) rotate(45deg);
        animation: burger-line-bottom .4s ease-in-out;
      }
    }
  }
}

.button-light {
  @apply border-3 border-black-600 py-1 sm:py-2 px-6 text-base sm:text-lg font-bold
  text-white border-white transition-colors hover:bg-white hover:text-black-600
}

.button-dark {
  @apply border-3 border-black-600 py-1 sm:py-2 px-6 text-base sm:text-lg font-bold
  text-black-600 border-black-600 transition-colors hover:bg-black-600 hover:text-white
}

.ReactModal__Overlay {
  z-index: 49;
}

.ReactModal__Content {
  position: fixed;
  inset: 0 !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  padding: 88px 0 20px 30px !important;
  border-right: 2px solid #232323 !important;
  animation: from-left .5s;
  z-index: 49;

  &.children-categories-modal {
    left: 240px !important;
    width: 320px;
    background-color: #fff;
    pointer-events: all;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

.banner-swiper .swiper-slide {
  min-height: fit-content;
  height: calc(100vh - 70px);
}

.banner-swiper-button {
  @apply absolute bg-toxic text-black w-[50px] h-[50px] bottom-1/2 translate-y-1/2 z-10
  rounded-[50%] border-3 transition-colors hover:bg-blue-600;

  &:disabled {
    @apply bg-gray;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  &.prev {
    @apply left-8;
  }

  &.next {
    @apply right-8;
  }
}

.banner-swiper-pagination {
  @apply cursor-pointer absolute bottom-1 sm:bottom-6 right-1/2 translate-x-1/2 flex gap-6 z-10 transition-colors;
}

.main-categories-swiper-pagination {
  @apply absolute bottom-[-32px] right-1/2 translate-x-1/2 flex gap-4 z-10 transition-colors;

  .swiper-pagination-bullet {
    @apply h-5 w-5;
  }
}

.swiper-pagination-bullet {
  @apply block h-6 w-6 bg-gray border-3 rounded-[50%];

  &-active {
    @apply bg-toxic;
  }
}

.skeleton-element {
  position: relative;
  background-color: rgba(204, 204, 204, 0.8);
  overflow: hidden;

  &::before {
    position: absolute;
    margin-bottom: 5px;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(
                    90deg,
                    rgba(255,255,255, 0) 0,
                    rgba(255,255,255, .5) 50%,
                    rgba(255,255,255, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }
}
